
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	background-color: #6D8B74;
}
.header{
padding-left: 450px;
color: #5F7161;
font-size: 50px;

}
li, a{
	font-weight: 500;
	font-size: 15px;
	color: whitesmoke;
	text-decoration: none;
}
.navlinks{
	list-style: none;
	padding-bottom: 50px;
	
}
.navlinks li{
	display: inline-block;
	padding: 0px 50px;
	padding-left: 0;
}
.navlinks li a{
	transition: all  0.4s ease 0s;
}
.navlinks li a:hover{
	color: #D0C9C0;
}
.text{
	text-align: center;
	padding-bottom: 500px;
	font-weight: 500px;
}
.image{
	display: none;
}
.container{
	padding: 0;
	width: 50%;
	height: 65vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}
#prev{
	position: absolute;
	color: white;
	top: 43%;
	left: 0;
	cursor: pointer;
	padding: 16px;
	font-weight: bold;
	font-size: 1rem;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	
}
#prev:hover, #next:hover{
	background-color: black;
}
#next{
	position: absolute;
	color: white;
	top: 43%;
	right: 0;
	cursor: pointer;
	padding: 16px;
	font-weight: bold;
	font-size: 1rem;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	
}
.dots{
	text-align: center;
	margin: 2%;
}
.dot{
	height: 15px;
	width: 15px;
	background-color: gray;
	display: inline-block;
	border-radius: 50%;
	margin: 0 2px;
	transition: background-color 0.6s ease;
}
.active{
	background-color: #5F7161;
	
}
.fade{
	animation: fade 1.5s;
	
}	

@keyframes fade{
	from{opacity: .4}
	to{opacity: 1}
}
.Form{
	background-color: white;
	text-align: center;
	border: 5px solid black;
	padding: 0;
	margin-left: 500px;
	margin-right: 500px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.Form input{
	background-color: white;
	
}
.Form button{
	background-color: #6D8B74;
	color: white;
}
.deleteTable th{
	padding-left: 20px;
}
.content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	width:751px;
}
.content h1 {
	border-bottom:1px dashed #999;
	font-size:1.8em;
	padding:20px 0 0;
}
.content p {
	padding:20px 20px 0;
}

.footer {
	border-top:1px solid #999; 
	height:50px;
	margin:0 auto;
	padding:10px;
	text-align:center;
	width:751px;
}

